@model IEnumerable<LocalHealth1.Models.Doenca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="Doenca" asp-action="Index">
    <p>
        Nome: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sintomas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NrCid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NrCid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NrCid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
